<div id="add-kanji-background"></div>
<section id="add-kanji">
  <div class= "add-kanji-content">
<h1>漢字追加</h1>

<%= render 'form', kanji: @kanji %>

<%= link_to 'Back', kanjis_path %>

  </div>
</section>