<div class="about-us">
    <div id= "about-us"></div>
    <ul id="about-us-flex" >
        <li><img src="https://scontent-sin6-1.xx.fbcdn.net/v/t39.30808-6/s960x960/268137245_1852407604955123_5463879400315633358_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=oCBq7XJ9FBkAX9m6qSi&tn=8Kxv-DEulaIaUioA&_nc_ht=scontent-sin6-1.xx&oh=00_AT-p_0vp5qj3MYZgbWk8-Z1zM39gzVig8M7HFLKoYS15KQ&oe=61BDD657">
            20184177 <br>Phùng Xuân Quân<br>Fullstack Overflow</li>
        <li><img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.6435-1/c78.0.320.320a/p320x320/116843229_2631542700496120_8533188901592621563_n.jpg?_nc_cat=107&cb=c578a115-c1c39920&ccb=1-5&_nc_sid=7206a8&_nc_ohc=wA6mujmIYiIAX-Yf3ei&_nc_ht=scontent.fhan3-2.fna&oh=00_AT_lAfqBJD-oobIDXtAZq6aRC9jBkOoOq_bTLsGb2pdH_A&oe=61DFEC31">
            20184212 <br>Trần Xuân Trường<br>Backend Developer</li>
        <li><img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.6435-9/s851x315/69650853_1160505787478645_8851149907327713280_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=da31f3&_nc_ohc=J0hgjVz_RgQAX-AVC-W&_nc_ht=scontent-sin6-2.xx&oh=00_AT9que5nbRWVmB-KaTCI3Qn0JUEARp_yraWW0JieoJ0cWg&oe=61DDBF61">
            20184195 <br>Nguyễn Gia Thanh<br>Designer</li>
        <li><img src="https://scontent-sin6-2.xx.fbcdn.net/v/t39.30808-6/267327323_1852407578288459_1389481905620239104_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_ohc=xcS3N63LO-MAX-289-u&tn=8Kxv-DEulaIaUioA&_nc_ht=scontent-sin6-2.xx&oh=00_AT8HO5_zF3hIvEhYpGjhHBqBkZGJTFkMzDaoq9W4B9qCzQ&oe=61BDC85E">
            20184232 <br>Trần Hoàng Việt<br>Fullstack Developer</li>
        <li><img src="https://scontent-sin6-2.xx.fbcdn.net/v/t39.30808-1/p320x320/264106082_1812063908980322_8548085764935973706_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=7206a8&_nc_ohc=JDozxR6CGjEAX_888Gg&_nc_ht=scontent-sin6-2.xx&oh=00_AT9dKYYLINVIGgLKDdaXC_uNgh-GawcPBHhEzLBBNZUtOw&oe=61BD3A20">
            20184187 <br>Nguyễn Hoàng Sơn<br>Manager</li>
    </ul>
</div>
